@using MVC.Areas.Admin.Models
@model List<HospitalItem>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section customStyles{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json" />
}
@section customScripts{
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            new DataTable('#example1', {
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json'
                },
                "columnDefs": [

                    {
                        "targets": 3,
                        "orderable": false,
                    },
                    {
                        "targets": 4,
                        "orderable": false,
                    }

                ],
            });
        });

        $("#btnNewHos").click(function () {
            $("#txtName").val("");
            $("#txtAddress").val("");
            $("#txtPhoneNumber").val("");

            $("#exampleModalSave").modal("show");
        });

        $("#btnSave").click(function () {
            var file = $("#fuHospitalPhoto").get(0).files[0];
            var name = $("#txtName").val();
            var address = $("#txtAddress").val();
            var phoneNumber = $("#txtPhoneNumber").val();

            var fd = new FormData();

            fd.append("hospitalPhoto", file);
            fd.append("name", name);
            fd.append("address", address);
            fd.append("phoneNumber", phoneNumber);

            $.ajax({
                url: "/Admin/Hospital/Save",
                method: "post",
                datatype: "json",
                contentType: false,
                processData: false,
                data: fd,
                success: function (response) {
                    if (response.isSuccess) {
                        Swal.fire({
                            title: 'İşlem Başarılı',
                            text: response.message,
                            icon: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Tamam'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $("#btnClearSave").trigger("click");
                                $("#exampleModalSave").modal("hide");
                                window.location.reload();
                            }
                        });
                    }
                    else {
                        Swal.fire(
                            'İşlem Başarısız',
                            response.message,
                            'error'
                        )
                    }
                }
            })
        });

        $(".btnDelete").click(function () {

            var hospitalId = $(this).attr("hospitalid");

            Swal.fire({
                title: 'Emin misiniz?',
                text: "Silme işlemi geri alınamaz!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sil!',
                cancelButtonText: 'Vazgeç!'
            }).then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        url: "/Admin/Hospital/Delete/" + hospitalId,
                        method: "post",
                        datatype: "json",
                        success: function (response) {
                            if (response.isSuccess) {
                                Swal.fire('İşlem Başarılı', response.message, 'success');
                                window.location.reload();
                            }
                            else {
                                var errors = "";
                                for (var i = 0; i < response.errorMessages.length; i++) {
                                    errors += response.errorMessages[i] + "<br />";
                                }

                                Swal.fire('İşlem Başarısız', response.message + "<br />" + errors, 'error')
                            }
                        }
                    });
                }
                else {
                    Swal.fire('İşlem İptal Edildi', '', 'info')
                }
            })
        });

        $(".btnEdit").click(function () {

            var hospitalId = $(this).attr("hospitalid");

            $.ajax({
                url: "/Admin/Hospital/GetHospital/" + hospitalId,
                method: "post",
                datatype: "json",
                success: function (response) {
                    $("#txtNameEdit").val(response.name);
                    $("#txtAddressEdit").val(response.address);
                    $("#txtPhoneNumberEdit").val(response.phoneNumber);
                    $("#hfHospitalId").val(hospitalId);

                    $("#exampleModalEdit").modal("show");
                }
            });

        });

        $("#btnUpdate").click(function () {
            var file = $("#fuHospitalPhotoEdit").get(0).files[0];
            var name = $("#txtNameEdit").val();
            var address = $("#txtAddressEdit").val();
            var phoneNumber = $("#txtPhoneNumberEdit").val();
            var id = $("#hfHospitalId").val();

            var fd = new FormData();
            fd.append("hospitalPhoto", file);
            fd.append("id", id);
            fd.append("name", name);
            fd.append("address", address);
            fd.append("phoneNumber", phoneNumber);



            $.ajax({
                url: "/Admin/Hospital/Update",
                method: "post",
                datatype: "json",
                contentType: false,
                processData: false,
                data: fd,
                success: function (response) {

                    if (response.isSuccess) {
                        Swal.fire({
                            title: 'İşlem Başarılı',
                            text: response.message,
                            icon: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Tamam'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $("#exampleModalEdit").modal("hide");
                                window.location.reload();
                            }
                        });
                    }

                    else {
                        Swal.fire('İşlem Başarısız', response.message, 'error')
                    }
                }
            })
        });
    </script>
}
<div>
    <button class="btn btn-primary" id="btnNewHos">Yeni Kayıt</button>
</div>
<table id="example1" class="display" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>İsim</th>
            <th>Adres</th>
            <th>Telefon No</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src='@item.PicturePath' style="width:150px;" />
                </td>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@item.PhoneNumber</td>
                <td>
                    <button type="button" class="btn btn-warning btnEdit text-right" hospitalid='@item.Id'>
                        DÜZENLE
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger btnDelete" hospitalid='@item.Id'>SİL</button>
                </td>
            </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <th>#</th>
            <th>İsim</th>
            <th>Adres</th>
            <th>Telefon No</th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>



<div class="modal fade" data-backdrop="static" id="exampleModalSave" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Hastane Ekleme Formu</h1>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Adı</label>
                            <input type="text" class="form-control border" id="txtName" placeholder="Hastane Adı Giriniz">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Adres</label>
                            <input id="txtAddress" class="form-control border" placeholder="Adres Giriniz">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Telefon No</label>
                            <input type="text" class="form-control border" id="txtPhoneNumber" placeholder="Telefon No Giriniz">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputFile">Resim</label>
                            <div class="input-group">
                                <input class="form-control" type="file" id="fuHospitalPhoto">
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button id="btnSave" type="button" class="btn btn-primary">Kaydet</button>
                    </div>


                    <button id="btnClearSave" type="reset" style="display:none;"></button>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="static" id="exampleModalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Hastane Düzenleme Formu</h1>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="hfHospitalId" />

                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Adı</label>
                            <input type="text" class="form-control border" id="txtNameEdit" placeholder="Adı Giriniz">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Adres</label>
                            <textarea id="txtAddressEdit" class="form-control border" placeholder="Adres Girinniz"> </textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Telefon No</label>
                            <input type="text" class="form-control border" id="txtPhoneNumberEdit" placeholder="Telefon No Giriniz">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputFile">Resim</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="fuHospitalPhotoEdit">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button id="btnUpdate" type="button" class="btn btn-primary">Kaydet</button>
                    </div>


                    <button id="btnClearEdit" type="reset" style="display:none;"></button>

                </form>
            </div>
        </div>
    </div>
</div>